In [36]:
import pandas as pd
import numpy as np

In [37]:
years=[i for i in range(2005,2021,3)]

In [38]:
years

[2005, 2008, 2011, 2014, 2017, 2020]

In [39]:
final = pd.DataFrame()

In [40]:
for year in years:
    df=pd.read_csv('/home/nishant/study/researchwork/MSThesis-Time_Series_Forecasting-master/Data/original/Rainfall/Maharashtra/Solapur/India - Maharashtra - Solapur__Rainfall'+str(year)+'.csv')
    df=df[['Year','Month','Rainfall (mm)']]
    p=[]
    for i in range(0,len(df),3):
        x= df.loc[i]['Rainfall (mm)'] + df.loc[i+1]['Rainfall (mm)'] + df.loc[i+2]['Rainfall (mm)']
        p.extend([x]*3)
    df['Rainfall']=p
    dk=df[df.index.isin([i for i in range(0,108,3)])]
    dk=dk[['Year','Month','Rainfall']]
    dk.reset_index(inplace=True,drop=True)
    final=final.append(dk)
final.reset_index(inplace=True,drop=True)
final=final.replace(np.nan,0.0)
final.to_csv('Solapur_full.csv')

In [41]:
final

     Year  Month  Rainfall
0    2004      1     0.032
1    2004      2     0.429
2    2004      3     0.367
3    2004      4     8.056
4    2004      5   113.425
5    2004      6    68.295
6    2004      7    86.743
7    2004      8    39.481
8    2004      9   173.054
9    2004     10    26.535
10   2004     11     9.829
11   2004     12     1.865
12   2005      1     0.002
13   2005      2     0.447
14   2005      3     0.920
15   2005      4    31.343
16   2005      5    22.046
17   2005      6    63.862
18   2005      7   187.403
19   2005      8   104.730
20   2005      9   234.310
21   2005     10   137.540
22   2005     11     6.212
23   2005     12     1.884
24   2006      1     0.030
25   2006      2     0.398
26   2006      3     2.139
27   2006      4     8.050
28   2006      5    67.168
29   2006      6    94.876
..    ...    ...       ...
174  2018      7    70.829
175  2018      8    93.569
176  2018      9    72.406
177  2018     10    36.357
178  2018     11    15.899
179  2018     12     2.064
180  2019      1     0.000
181  2019      2     0.858
182  2019      3     1.667
183  2019      4    11.587
184  2019      5     9.405
185  2019      6    84.258
186  2019      7   108.850
187  2019      8    69.705
188  2019      9   200.791
189  2019     10   208.179
190  2019     11    28.964
191  2019     12     2.952
192  2020      1     0.008
193  2020      2     1.200
194  2020      3     1.693
195  2020      4     0.000
196  2020      5     0.000
197  2020      6     0.000
198  2020      7     0.000
199  2020      8     0.000
200  2020      9     0.000
201  2020     10     0.000
202  2020     11     0.000
203  2020     12     0.000

[204 rows x 3 columns]